* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
}

.top-nav {
  display: flex;
  background: #000;
  min-height: 50px;
  /*overflow: hidden;*/
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.top-nav-list {
  display: flex;
  list-style: none;
}

.top-nav-list li {
  margin: 0px 40px;
}

.top-nav-list a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.main-image{
  background-image: url("../images/main.jpg");
  background-size: cover;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #000;
}

.main-image h1 {
  padding: 10px;
  background-color: #000;
  opacity: 0.5;
  border-radius: 10px
}

.thumbnail {
  width: 48%;
  display: block;
  margin: auto;
  padding: 10px;
  text-align: center;

  }

.thumbnail img {
  display: block;
  margin: auto;
  border: 5px solid #000;
  border-radius: 10px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #000;
  color: #fff;
}
